@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap');

:root {
  --background: hsl(51 32% 100%);
  --foreground: hsl(0 0% 15%);
  --danger: hsl(0 94% 27%);
  @media (prefers-color-scheme: dark) {
    --background: hsl(0 0% 15%);
    --foreground: hsl(51 32% 100%);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}

html {
  font-size: 112.5%; /* 18px */
  @media screen and (min-width: 80rem) {
    font-size: 125%; /* 20px */
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Roboto, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
  &:focus,
  &:active {
    outline: none;
  }
}

button {
  background: none;
  padding: 5px 10px;
  border-radius: 5px;
  color: inherit;
  cursor: pointer;
  outline: none;
}

img {
  display: block;
}

menu {
  list-style: none;
}

p,
li {
  font-size: 1rem;
  line-height: 1.5;
}

p {
  margin-bottom: 1rem;
}

section {
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px 5px;
}
